html {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-Height: 1.5em;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

#root {
  position: relative;
  min-height: 100%;
}

.sc-bwzfXH.jcFUoF {
  margin-top: 10px;
}